body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

#listaUsuarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 20px;

}

.usuario {
  width: 390px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.usuario-info {
  display: flex;
  margin-top: 10px;
}

.usuario-data {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.usuario img {
  width: 100px;
  height: fit-content;
}
